<!-- dashboard.html -->
<div class="jumbotron text-center">
    <h1>Porfolio Dashboard</h1>
		<ul id="credoItems" class="list-inline center-block text-center">
			<li ><span class="glyphicon glyphicon-star-empty listIcons" ></span></li>
			<li ><span class="glyphicon glyphicon-cloud listIcons" ></span></li>
			<li ><span class="glyphicon glyphicon-fire listIcons" ></span></li>
			<li ><span class="glyphicon glyphicon-send listIcons" ></span></li>
			<li ><span class="glyphicon glyphicon-education listIcons" ></span></li>
			<li ><span class="glyphicon glyphicon-sunglasses listIcons" ></span></li>
      	</ul>
    <br /><br />
    <h3>Active Portfolios</h3>
    <table class="table table-striped table-bordered ">
    <thead class="success">
      <tr>
        <th>Number</th>
        <th>Currency</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="portfolio in portfolios">
        <td>{{portfolio.number}}</td>
        <td>{{portfolio.currency}}</td>
        <td>{{portfolio.balance}}</td>
      </tr>
    </tbody>
  </table>
    <p>{{portfolioMessage}}<p>
</div>

