<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Docker Demonstration</h1>
    <img src="images/Logo-Docker.svg" class="logo-docker img-responsive">
    <br /><br />
    <p>{{greeting}}<p>
</div>
<p>{{ message }}</p>
