<!-- about.html -->
<div class="jumbotron text-center">
    <h2>Login</h2>
	    <div class="account-wall">
	    <img class="profile-img" src="images/login.jpg" alt="">
	    <form class="form-signin">
	        <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus>
	        <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
	        <button class="btn btn-lg btn-primary btn-block" ng-click="check(username, password)" type="submit">
	            Sign in</button>
	    </form>

	    <p>{{loginMessage}}</p>
	    <a href="#signup" class="text-center new-account">Sign up</a>
	</div>
	
</div>
