<div class="jumbotron text-center">
    <h2>Sign up</h2>
	    <div class="account-wall">
		<img class="profile-img" src="images/login.jpg" alt="">
	    <form class="form-signin">
	        <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus>
	        <input type="password" class="form-control" ng-model="password" style="margin-bottom: 0px" placeholder="Password" required>
	        <input type="text" class="form-control" ng-model="firstName" placeholder="First name" required>
	        <input type="text" class="form-control" ng-model="lastName" style="margin-bottom: 10px" placeholder="Last name" required>
	        <button class="btn btn-lg btn-primary btn-block" ng-click="signup(username, password, firstName, lastName)" type="submit">
	            Sign up</button>
	    </form>
	    <a href="#login" class="text-center new-account">login</a>
	</div>
	
</div>


