html,
body {
  height: 100%;
  background-color: white;
  background: orange;
  /* The html and body elements cannot have any padding or margin. */
}

.heading {
	background-color: white;
	height: 150px;
}

.logo {
    background-image: url("../images/logo.gif");
    height: 125px;
    background-repeat-x: no-repeat;
    background-repeat: no-repeat;
    margin-left: 30px;
}

.logo-docker {
    display: inline-block !important;
	text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
.menu {
	background-color: #00aeef !important;
	color: #222222 !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #00aeef !important;
}

.navbar-inverse .navbar-toggle {
    border: none !important;
}
.blackNav {
	background: #222222;
	text-align: center;
}

.navbar-brand {
	color: #00aeef !important;
	font-weight: bold;
	font-size: 20px;
}

.white, .white a {
  color: #fff;
}

.listIcons {
	padding-top: 15px;
}

.menuItem {
	font-size: 16px ;
	font-weight: bold;
	padding-right: 10px;
}

.menuText {
    display: inline-block;
}


.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #222222;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	background-color: #00aeef;
}


#credoItems .glyphicon {
    font-size: 30px;
}


#credoItems li {
	width: 100px;
	height: 100px;
	padding: 20px;
	background-color: #f5f5f5;
	margin: 1px;
}

#credoItems li:hover {
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
	background-color: #00aeef;
	
}

#credoItems li:hover {
	color: white;
}

#credoItems li:hover:before {
	color: white;
}


thead {
    background-color: #00aeef !important;
}

table tr:nth-child(even) td{
    background-color: #e6f8ff;
}

/* Sticky footer styles
-------------------------------------------------- */


/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	padding-top: 20px;
	text-align: center;
	height: 60px;
	background-color: #e6e6e6;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.new-account
{
    display: block;
    margin-top: 10px;
}