<!DOCTYPE html >
<html lang="en" ng-app="credoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon">
    <title>CREDO WEALTH - Private Clients</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 	  <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="mainController">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="logo"></div>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="navItems" class="nav navbar-nav">
              <li ng-class="{active: $route.current.activetab == 'home'}"><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li ng-class="{active: $route.current.activetab == 'dashboard'}" ng-show="loggedIn"><a href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li> 
              <!-- <li><a href="#"><span class="glyphicon glyphicon-lamp"></span> Accounting</a></li>  -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="{active: $route.current.activetab == 'signup'}" ng-show="!loggedIn"><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li ng-class="{active: $route.current.activetab == 'login'}" ng-show="!loggedIn"><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li ng-show="loggedIn"><a><span><b>{{user}}</b><span></a></li>
              <li ng-show="loggedIn"><a ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>

            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row ">
<!--               <div class="col-md-12">
                  <ul id="credoItems" class="list-inline center-block text-center">
                  </ul>
              </div> -->

                      <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
          <div ng-view></div>
        </div>
          </div>
        </div>
    </div>
    <div id="footer">
      <div class="container">
        Copyright © 2016. Credo Group. All Rights Reserved.
      </div>
    </div>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="docker.config.js"></script>
    <script src="js/script.js"></script>
   
  </body>
</html>